.bg-contain {background-size: contain; }
.bg-cover {background-size: cover; }
.bg-no-repeat { background-repeat: no-repeat; }
.bg-fixed { background-attachment: fixed; }

.object-contain { object-fit: contain; }
.object-cover { object-fit: cover; }