/* width */

.w-50\% {
  width: 50%;
}
.w-100\% {
  width: 100%;
}
.w-100vw {
  width: 100vw;
}
.w-max-content {
  width: max-content;
}
.w-min-content {
  width: min-content;
}

.w-max-100\% {
  max-width: 100%;
}

/* height */

.h-min-100vh {
  min-height: 100vh;
}
