.grid-auto-fill {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(var(--column-width, 270px),1fr));
}

/*
.gap-sm {}
.gap-md {}
.gap-lg {}

.row-gap-sm {}
.row-gap-md {}
.row-gap-lg {}

.col-gap-sm {}
.col-gap-md {}
.col-gap-lg {}

.col-sm { --column-width: 197px; }
.col-md { --column-width: 240px; }
.col-lg { --column-width: 301px; }
*/

.span2 { grid-column: span 2; }
.span4 { grid-column: span 4; }
.span-all { grid-column: 1 / -1 }
