/* floats */

.float-right { float: right; }
.float-left { float: left; }

.clearfix &::after {
  content: "";
  display: table;
  clear: both;
}

/* display */

.none { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.hidden { display: none; }
.contents {display: contents; }