/* weights */

.wght-hairline { font-weight: 100; }
.wght-thin { font-weight: 200; }
.wght-light { font-weight: 300; }
.wght-normal { font-weight: 400; }
.wght-medium { font-weight: 500; }
.wght-semibold { font-weight: 600; }
.wght-bold { font-weight: 700; }
.wght-extrabold { font-weight: 800; }
.wght-black { font-weight: 900; }

/* sizes */

.text-xs { font-size: 1.2rem; }
.text-sm { font-size: 1.4rem; }
.text-base { font-size: 1.6rem; }

/* heading sizes are defined in base.scss */

.uppercase { text-transform: uppercase; }
.no-underline { text-decoration: none; }